<!DOCTYPE html>
<html>
  <head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
        $("#upload-file-input").change(function() {
          $("#upload-file-info").text(this.files[0].name);
        });
      });
    </script>
    
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- <form method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="file">
      <button type="submit">Submit</button>
    </form> -->
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
